// Colors
// $clr1: rgb(250, 200, 195);
// $clr1: rgb(250, 200, 195);
// $clr1: #ffdbd2;
$clr1: #fdfdfd;
$clr2: #3b3b3b;
$clr3: #3b3b3bcb;
$clr4: #f9cb07;
$clr5:  rgb(242, 242, 242);


// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 800px;
$normal-breakpoint: 1240px;
$wide-breakpoint: 1450px;