// Colors
// $clr1: rgb(250, 200, 195);
$clr1: rgb(250, 200, 195);
// $clr1: #ff8e97;
$clr2: #4c3d6d;
$clr3: #4c3d6d;
$clr4: #f9cb07;
$clr5:  rgb(242, 242, 242);


// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 800px;
$normal-breakpoint: 1240px;
$wide-breakpoint: 1450px;