@import "../../assets/scss/setup/mixins";
@import "../../assets/scss/setup/variables";
.circle {
    position: absolute;
    z-index: -1;
    width: 150px;
    right: 3rem;
    top: 1%;
    @include for-normal-layout {
        left: 60%;
    }
    @include for-mobile-layout {
        display: none;
    }
}
