@import "../../assets/scss/setup/mixins";
@import "../../assets/scss/setup/variables";
.socials {
	position: absolute;
	top: 90vh;
	left: 3vw;
	@include for-mobile-layout {
		position: relative;
		bottom: -11rem;
	}
	@include for-extra-layout {
		bottom: -4rem;
	}
	@include for-normal-layout {
		left: 3%;
		top: 90%;
	}
	footer {
		background-color: #f9f5ef;
		border: 2px solid $clr1;
		padding: 7px 20px;
		width: fit-content;
		height: fit-content;
		@include for-mobile-layout {
			width: fit-content;
		}
		.soc-btn:first-of-type {
			margin-left: 0.4rem;
		}
		.soc-btn:last-of-type {
			margin-right: 0.4rem;
		}
		.soc-btn {
			display: inline-block;
			transition: transform 0.4s ease-in-out;
			padding: 3px 5px;
			// border-radius: 100px;
		}
		.soc-btn:hover {
			transform: scale(1.05);
			background-color: $clr1;
			.fa-icon {
				color: $clr5;
			}
		}
	}
	.fa-icon {
		color: $clr1;
		font-size: 1.7rem;
	}
}
