@import '../../assets/scss/setup/mixins';
@import '../../assets/scss/setup/variables';
.main-navbar {
	position: relative;
	left: 75%;
	display: block;
	@include for-normal-layout {
		display: flex;
		position: unset;
		margin-bottom: 1rem;
	}
	wired-card {
		min-width: 330px;
		max-width: 400px;
		background-color: #f9f5ef;
		@include for-normal-layout {
			margin: 0 auto;
		}
		wired-tab{
			padding: 10px;
		}
	}
	.active-page {
		color: #1d1d1d;
		font-weight: bold;
		background-color: rgb(250, 93, 45);
	}
	margin-top: 3rem;
	letter-spacing: 2px;
	font-weight: bold;

	a:active,
	a:focus,
	a:visited,
	a:hover,
	a::after {
		text-decoration: none;
	}
}
