* {
	box-sizing: border-box;
}

html {

	font-family: montserrat-reg, sans-serif;
	// font-family: montserrat, sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
	background-color:$clr4;
	color: $clr2;
	-webkit-font-smoothing: antialiased;
}


body {
	margin: 0;
	min-height: 90vh;
	// background-image: url(../../img/grid3.png);
	background-position: center;
	background-size: 90% 80%;
	background-attachment: fixed;
	background-repeat: no-repeat;

	@include for-mobile-layout{
		background-size: cover;
	}
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
	// font-weight: normal;
	padding: 0;
	&::selection {
		background: $clr5;
	  }
}

h1{
	font-family: montserrat, sans-serif;
}
h2{
	color: $clr3;
	// font-family: robotomono, sans-serif;
	// font-weight: bold;
	letter-spacing: -1px;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}

button {
	font-family: inherit;
	cursor: pointer;

	* {
		pointer-events: none;
	}
}

li {
	list-style: none;
}

input {
	font-family: inherit;
	text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
	-webkit-border-radius: 100px;
}
